<template>
<div class="details container">
    <router-link to="/">Back</router-link>
    <h1 class="page-header">{{contact.first_name}} {{contact.last_name}}Hello
        <span class="pull-right">
            <router-link class="btn btn-primary" v-bind:to="'/edit/'+contact.id">Edit</router-link>
            <button class="btn btn-danger" v-on:click="removeContact(contact.id)">Delete</button>
        </span>
    </h1>
    <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{contact.phone}}</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{contact.email}}</li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item"> {{contact.address}}</li>
            <li class="list-group-item">{{contact.city}}</li>
            <li class="list-group-item">{{contact.notes}}</li>
        </ul>
  </div>
</template>


<script>
import { mapState } from 'vuex'
export default {
  name: 'contactdetails',
  data () {
    return {
      contact: []
    }
  },
  mounted () {
    this.$store.dispatch('loadContacts')
  },
  methods: {
    loadContacts(id) {
      this.$http.get('http://localhost:3000/contacts/'+contact.id)
      .then(function(response){
        console.log(123);
        //this.loadContact = JSON.parse(response.body);
      });
    },
    /*removeContact (id){
      console.log(id);
    }*/
/*},*/
  created: function(){
    this.loadContacts(this.$route.params.id);
  }
}}

</script>

<style scoped>
.page-header {
  padding-top: 50px;
}
.title {
  margin-bottom: 50px;
}
</style>