<template>
  <div class="container">
  
   <div class="page-header">
     <h1 class="title">Contact Manager</h1>

     <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="contact in contacts" :key="contact.id">
          <td>{{ contact.first_name }}</td>
          <td>{{ contact.last_name }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.notes }}</td>
          <td><router-link class="btn btn-default" v-bind:to="'/contacts/'+contact.id">View</router-link></td>
        </tr>
      </tbody>
    </table>
   </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'HelloWorld',
  mounted () {
    this.$store.dispatch('loadContacts')
  },
  computed: mapState([
    'contacts'
  ])
  /*computed: {
    newContact () {
      return this.$store.getters.newContact
    },
    contacts () {
      return this.$store.getters.contacts
    },
  },
  methods: {
    setNewContact (e) {
      this.$store.dispatch('setNewContact', e.target.value)
    },
    addContact (e) {
      e.target.value = ''
      this.$store.dispatch('addContact')
      this.$store.dispatch('clearNewContact')
    },
  }*/
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-header {
  padding-top: 50px;
}
.title {
  margin-bottom: 50px;
}
</style>
